<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../js/jquery.min.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/bootstrap.min.js"></script>
    <link rel = "stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/demo.js"></script>
    <title>Studentski informacijski sistem</title>


</head>
<body>
    
    <nav class="navbar navbar-static-top header">
        <div class="container">
            <div class="navbar-header">
                <a href="student.html">
                    <img alt="Brand" src="../img/LogotipUL_M.gif" style="height: 90px;">
                </a>

            </div>
            <p class="navbar-left navbar-text fakulteta">Fakulteta za raziskovanje rude</br> in zapravljanje časa</p>
            <a href="../index.html" class="navbar-text navbar-right glyphicon-logoff"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
            <p class="navbar-right navbar-text idUporabnik">Denis Grabljevec</br>Vpisna številka: 63120183</p>
            
        </div>
    </nav>

    <div class="container">
        <div class="panel panel-default" style="margin-top: 5%;">
            <div class="panel-body" style="padding-top: 25px;">
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12">
                    <a href="student-podatki.html">
                        <div class="col-md-12 col-xs-12 col-sm-12 izbirni-gumb">
                            <h3 style="text-align: center">Osebni podatki</h3>
                            <p>Preverjanje in spreminjanje osebnih podatkov (naslov, telefonska številka, ipd.). Svoje geslo lahko spremenite na ID portalu Univerze v Ljubljani.</p></br>
                            <center><span class="glyphicon glyphicon-edit" aria-hidden="true" style="padding-bottom: 10%; font-size: 25px;"></span></center>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <a href="student-izpiti.html">
                        <div class="col-md-12 col-xs-12 col-sm-12 izbirni-gumb">
                            <h3 style="text-align: center">Prijava in odjava od izpita</h3>
                            <p>Prijava na izpit in odjava od izpita. Pregled razpisanih izpitnih rokov. Pregled prijav.</p></br></br></br>
                            <center><span class="glyphicon glyphicon-education" aria-hidden="true" style="padding-bottom: 10%; font-size: 25px;"></span></center>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <a href="student-index.html">
                        <div class="col-md-12 col-xs-12 col-sm-12 izbirni-gumb">
                            <h3 style="text-align: center">Elektronski index</h3>
                            <p>Elektronski index, v katerem so vpisane ocene iz vseh letnikov. Podatki o povprečnih ocenah skozi celotno obdobje študija.</p></br></br>
                            <center><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="padding-bottom: 10%; font-size: 25px;"></span></center>
                        </div>
                    </a>
                </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                    <h3 style="margin-top: 20px;">Predmetnik:</h3>
                </div>
                </div>
                
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Letnik</th>
                                <th>Predmet</th>
                                <th>Profesor</th>
                                <th>Točke vaj</th>
                                <th>Točke kolokvijev</th>
                                <th>Točke izpita</th>
                                <th>Končna ocena</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3.</td>
                                <td>Razvoj informacijskih sistemov</td>
                                <td>Marko Bajec</td>
                                <td>78</td>
                                <td></td>
                                <td>81</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Tehnologija upravljanja podatkov</td>
                                <td>Matjaž Kukar</td>
                                <td>81</td>
                                <td></td>
                                <td>78</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Spletno programiranje</td>
                                <td>Aleš Smrdel</td>
                                <td>84</td>
                                <td>89</td>
                                <td></td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Elektronsko poslovanje</td>
                                <td>Denis Trček</td>
                                <td>85</td>
                                <td></td>
                                <td>73</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Operacijski sistemi</td>
                                <td>Borut Robič</td>
                                <td>76</td>
                                <td></td>
                                <td>71</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Principi razvoja programske opreme</td>
                                <td>Matjaž B. Jurič</td>
                                <td>85</td>
                                <td>79</td>
                                <td></td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Tehnologija programske opreme</td>
                                <td>Viljan Mahnič</td>
                                <td>89</td>
                                <td></td>
                                <td></td>
                                <td>9</td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>


        </div>
        <p style="float: right"><b>FRRZČ</b>           |  študijski informacijski sistem</p>
    </div>



</body>
</html>