<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../js/jquery.min.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/bootstrap.min.js"></script>
    <link rel = "stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/demo.js"></script>
    <title>Studentski informacijski sistem</title>
    
        <script>
        var povprecje = 0;
        var stPred = 0;

        $(document).ready(function() {
            $.getJSON("../data/ocene.json", function(data) {
                for(i in data) {
                    stPred++;
                    povprecje+=parseInt(data[i]["ocena"]);
                    $("tbody").append('<tr><td>'+data[i]["l"]+'</td><td>'+data[i]["sifraP"]+'</td><td>'+data[i]["pred"]+'</td><td>'+data[i]["prof"]+'</td><td>'+data[i]["dat"]+'</td><td>'+data[i]["polag"]+'</td><td>'+data[i]["kred"]+'</td><td>'+data[i]["ocena"]+'</td></tr>');
                }
                povprecje/=stPred;
                povprecje = povprecje.toFixed(2);
                $("#povprecje").append('<thead><tr><th>Število opravljenih izpitov</th><th>Skupno povprečje</th></tr></thead><tbody><tr><td>'+ stPred +'</td><td>'+povprecje+'</td></tr></tbody>');
            });
        });
    </script>

</head>
<body>

    <nav class="navbar navbar-static-top header">
        <div class="container">
            <div class="navbar-header">
                <a href="student.html">
                    <img alt="Brand" src="../img/LogotipUL_M.gif" style="height: 90px;">
                </a>

            </div>
            <p class="navbar-left navbar-text fakulteta">Fakulteta za raziskovanje rude<br> in zapravljanje časa</p>
            <a href="../index.html" class="navbar-text navbar-right glyphicon-logoff"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
            <p class="navbar-right navbar-text idUporabnik">Denis Grabljevec<br>Vpisna številka: 63120183</p>
        </div>
    </nav>
    
    <div class="container">
        <div class="panel panel-default" style="margin-top: 5%">
            <div class="panel-heading">
                <h2>Elektronski index</h2>
            </div>
            <div class="panel-body">
                <div class="row" style="clear: both; overflow-x: auto;">
                    <div class="col-md-12">
                        <h4 class="border-pike">Študijsko leto 2013/14</h4>
                    </div>
                    <div class="col-md-12" style="display: none;">
                        <p style="padding-left: 5%;">&lt;Trenutno ni vpisane nobene ocene.&gt;</p>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-hover" id="ocene">
                            <thead>
                                <tr>
                                    <th>Letnik</th>
                                    <th>Šifra predmeta</th>
                                    <th>Predmet</th>
                                    <th>Profesor</th>
                                    <th>Datum</th>
                                    <th>Polaganje</th>
                                    <th>Krediti</th>
                                    <th>Ocena</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-hover" id="povprecje"></table>
                    </div>
                </div>
                <a href="student.html" id="gumb-nazaj"><span class="glyphicon glyphicon-menu-left"></span>Nazaj</a>
            </div>
        </div>
        <p style="float: right"><b>FRRZČ</b>           |  študijski informacijski sistem</p>
    </div>
</body>
</html>

